<section id="bandeau" class="section about-hero" itemscope itemtype="https://schema.org/Person">
  <meta itemprop="name" content="{{ site.author.prenom_nom }}">
  <meta itemprop="jobTitle" content="Freelance Talend &amp; Power BI">
  <link itemprop="url" href="{{ site.author.url | default: site.url | default: site.github.url }}">
  {% if site.author.email %}<meta itemprop="email" content="mailto:{{ site.author.email }}">{% endif %}
  {% if site.author.phone %}<meta itemprop="telephone" content="{{ site.author.phone }}">{% endif %}
  {% if site.author.enterprise %}
    <span itemprop="worksFor" itemscope itemtype="https://schema.org/Organization" hidden>
      <meta itemprop="name" content="{{ site.author.enterprise }}">
    </span>
  {% endif %}
  {% if site.author.linkedin %}
    <link itemprop="sameAs" href="{{ site.author.linkedin }}">
  {% endif %}
  {% if site.author.sameAs %}
    {% for p in site.author.sameAs %}
      <link itemprop="sameAs" href="{{ p }}">
    {% endfor %}
  {% endif %}
  {% if site.author.description %}
    <meta itemprop="description" content="{{ site.author.description }}">
  {% elsif site.description %}
    <meta itemprop="description" content="{{ site.description | strip_newlines }}">
  {% endif %}

  {% assign _bandeau_data  = page.bandeau | default: site.bandeau | default: site.author %}
  {% assign bandeau_photo = _bandeau_data.photo
                            | default: page.bandeau_photo
                            | default: site.author.bandeau_photo
                            | default: site.author.photo
                            | default: site.author.photo_url
                            | default: '' %}
  <div class="about-hero__canvas">
    <div class="about-hero__inner">
      <div class="about-hero__content">
        <p class="about-hero__eyebrow">Consultant Talend &amp; Power BI</p>
        <h2 class="about-hero__title">Illuminez vos d&eacute;cisions data sans stress</h2>
        <p class="about-hero__text">
          Vos donn&eacute;es sont l&agrave;, mais difficiles &agrave; exploiter&nbsp;?<br>
          Je vous aide &agrave; en tirer des informations claires et fiables,
          pour que vos &eacute;quipes gagnent du temps et prennent des d&eacute;cisions plus sereinement.
        </p>
      </div>
      <div class="about-hero__media">
        <div class="about-photo-frame">
          {% if bandeau_photo != '' %}
            <div class="about-photo-slot has-photo">
              <img src="{{ bandeau_photo | relative_url }}"
                   alt="Portrait de {{ site.author.prenom_nom }}">
            </div>
          {% else %}
            <div class="about-photo-slot" role="img" aria-label="Espace r&eacute;serv&eacute; pour la photo"></div>
          {% endif %}
          <div class="about-stats-card">
            <div class="about-stats-card__item">
              <span class="about-stats-card__value">80&nbsp;%</span>
              <span class="about-stats-card__label">des traitements automatis&eacute;s</span>
            </div>
            <div class="about-stats-card__item">
              <span class="about-stats-card__value">30&nbsp;%</span>
              <span class="about-stats-card__label">de temps gagn&eacute; sur les reportings</span>
            </div>
            <div class="about-stats-card__item">
              <span class="about-stats-card__value">100&nbsp;%</span>
              <span class="about-stats-card__label">de projets livr&eacute;s &agrave; temps</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
